Bookmarked/Bookmarked_withToolUse_GetReadingList.json
{
  "name": "Bookmarked_withToolUse",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Whatsapp message').item.json.body.messages[0].text.body || $('Whatsapp message').item.json.body.messages[0].link_preview.body }}",
        "options": {
          "systemMessage": "You are a helpful assistant for a bookmark management system who helps users add to their bookmarks list, retrieve reading list, and retrieve search results based on user query.\n\n- If someone says - I'm bored or any variation of it, share their reading list with them\n\nTools Available:\n1. Get User ID - This tool gets you the user id from phone number which is used to access Bookmarks table in the database to create and get bookmarks\n2. Get reading list - This tool gets you the reading list of the user. Use Get user id before using this tool to get the user id and access the reading list of that user only.\n3. Search String - This tool helps you search the database for the given user query. Use Get user id before using this tool to get the user id and access bookmarks of that user only.\n4. Add bookmarks -  This tool helps you add bookmarks for the user. Use Get user id before using this tool to get the user id and access bookmarks of that user only.\n\nTo add bookmarks, you need the url (must come from the user only), title (good if it comes from the user but if not, get it from the url), tags (good if it comes from the user but if not, get it from the url), reading status (optional, default is false)\nIf you are unable to pull out title and tags from the link, do not assume. Ask the user to share all of these details before creating a bookmark entry."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        336,
        -64
      ],
      "id": "53453a7d-c7f1-49e6-9c6e-bb3855c6da90",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        160
      ],
      "id": "ac2cfb19-940d-4f8a-8f85-4b023fd82692",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MlNOo9W2UMy5CWH5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b2fa55e-9c6c-435c-94ea-6c140796ff0d",
              "leftValue": "={{ $json.body.messages[0].from_me }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        0,
        -64
      ],
      "id": "71530874-cd27-49b4-9c9c-5019fc0e056e",
      "name": "Filter"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.messages[0].from }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        160
      ],
      "id": "4ce879f6-d774-4dbb-9a81-42460200fcf2",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "bookmarks",
        "limit": 5,
        "filterType": "string",
        "filterString": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filters__String_', `Use the search query shared by the user along with the user id received from Get user id tool to get required rows.`, 'string') }}"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        336,
        160
      ],
      "id": "420166e1-68c1-4683-8b35-7f3239d8ec53",
      "name": "Search string",
      "credentials": {
        "supabaseApi": {
          "id": "TZBsAIy1aNTsi7qq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Critical - Use this to get the userId based on phone number of the user. userid is required to access the bookmarks table (Add a bookmark, get reading list, search query)",
        "operation": "getAll",
        "tableId": "profiles",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "phone_number",
              "condition": "eq",
              "keyValue": "={{ \"+\" + $('Whatsapp message').item.json.body.messages[0].from }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        464,
        160
      ],
      "id": "eb589dcd-8090-49e7-a5b2-9d753ea8a052",
      "name": "Get User Id",
      "credentials": {
        "supabaseApi": {
          "id": "TZBsAIy1aNTsi7qq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get reading list of a user",
        "operation": "getAll",
        "tableId": "bookmarks",
        "limit": 5,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "reading",
              "condition": "eq",
              "keyValue": "TRUE"
            },
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('conditions1_Field_Value', `Use the User Id received from Get User Id tool for the phone number of this user`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        592,
        160
      ],
      "id": "3378b7eb-62ad-47b7-bf46-c1c5244c99ba",
      "name": "Get reading list1",
      "credentials": {
        "supabaseApi": {
          "id": "TZBsAIy1aNTsi7qq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This tool adds a bookmark to the table. Use this tool only if you have the following:\n1. User Id (from Get User Id tool)\n2. Title\n3. URL \n4. Tags",
        "tableId": "bookmarks",
        "dataToSend": "autoMapInputData"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        720,
        160
      ],
      "id": "e18634b9-85a6-4aae-8270-b0fdd5193a5c",
      "name": "Add bookmarks",
      "credentials": {
        "supabaseApi": {
          "id": "TZBsAIy1aNTsi7qq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gate.whapi.cloud/messages/text",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "to",
              "value": "={{ $('Whatsapp message').first().json.body.messages[0].from }}"
            },
            {
              "name": "body",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -64
      ],
      "id": "2f011bd7-8007-451b-86eb-4dc92d4f7116",
      "name": "Respond on whatsapp",
      "credentials": {
        "httpBearerAuth": {
          "id": "xBZjs1RHrjnriafX",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bookmarked",
        "options": {
          "ignoreBots": true
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -64
      ],
      "id": "f23f4021-717b-42c2-a30f-0784397b478c",
      "name": "Whatsapp message",
      "webhookId": "b8176140-e04e-4087-9408-91ea72dc2015"
    }
  ],
  "pinData": {
    "Whatsapp message": [
      {
        "json": {
          "headers": {
            "host": "aditeebiyani0411.app.n8n.cloud",
            "content-length": "342",
            "accept": "application/json",
            "accept-encoding": "gzip, br",
            "baggage": "sentry-environment=prod,sentry-public_key=22217dc31eef5d21afad60404664acb9,sentry-trace_id=a52bb5d639c5eaa6492babab188c5ad0,sentry-sample_rand=0.38496170423799025",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "65.108.100.231",
            "cf-ew-via": "15",
            "cf-ipcountry": "FI",
            "cf-ray": "98f1e693c2af2b41-FRA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "sentry-trace": "a52bb5d639c5eaa6492babab188c5ad0-19f4e4a988eb0705",
            "x-forwarded-for": "65.108.100.231, 172.70.240.13",
            "x-forwarded-host": "aditeebiyani0411.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-60-78f959c455-hpwwn",
            "x-is-trusted": "yes",
            "x-real-ip": "65.108.100.231"
          },
          "params": {},
          "query": {},
          "body": {
            "messages": [
              {
                "id": "rNzxG8CbqUZr_FRQHxnnTg-gFTWKlx_eA",
                "from_me": false,
                "type": "text",
                "chat_id": "919833706360@s.whatsapp.net",
                "timestamp": 1760558404,
                "source": "api",
                "chat_name": "Aditee",
                "text": {
                  "body": "Give me my reading list"
                },
                "from": "919833706360",
                "from_name": "Aditee"
              }
            ],
            "event": {
              "type": "messages",
              "event": "post"
            },
            "channel_id": "SHAZAM-L9YEV"
          },
          "webhookUrl": "https://aditeebiyani0411.app.n8n.cloud/webhook-test/bookmarked",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond on whatsapp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Search string": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get User Id": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get reading list1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add bookmarks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Whatsapp message": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d9ebfafd-eb27-4da1-b603-9b2468c69a49",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e1e3c5b6cca854c509fe528647750e69d5d433d07128da90235ac8d4cec3f97"
  },
  "id": "v9rc8sYcjjDzYRCV",
  "tags": []
}